html{
	margin: 0;
	padding: 0;
	
}
body{
	margin: 0;
	padding: 0;
	background: #fff;
	text-align: center;
}
div, ul, form, dl, dd, dt, fieldset, p{
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
}
ul li{
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 0;
}
html, body, p, pre, q, blockquote, div, th, td{
    color: #014f8a;
    font: normal 12px Tahoma,Helvetica,Verdana,Lucida,Arial,"Arial Unicode",sans-serif,"宋体";
	line-height: 1.5em;
}
a, a:link, a:visited, a:active, a:hover {
	background: transparent; 
	border: 0px;
}
a, a:link, a:visited, a:active { 
	color: #1d6402;
	text-decoration: none; 
}
a:hover{
	color: #00f;
	text-decoration: underline;
}
strong, b{
	font-weight: bold;
}
img, a img{
	border: 0;
}

/* Layout */
body#ptt{}
div#global-wrapper{
	width: 100%;
	background: #fff;
	text-align: left;
	margin: 0 auto;
}
div#header{
	width: 100%;
	height: 100px;
	background: url(images/header.png) no-repeat 0 0;
}
div#header.yys{
	background: url(images/yingyunshang_header.jpg) no-repeat 0 0;
}
div#header.qy{
	background: url(images/qiye_header.jpg) no-repeat 0 0;
}
div#header.yh{
	background: url(images/user_header.jpg) no-repeat 0 0;
}
div#header h1{
	display: none;
}
p#row-rp{
	line-height: 24px;
	height: 24px;
	text-align: right;
	margin: 0 6px 0 220px;
}
p#row-rp a{
	padding: 0 6px;
	color: #333;
}
p#row-rp a:hover{
	background: #c2dbe7;
	color: #e77012;
	text-decoration: none;
}
div#top-menu{
	height: 21px;
	position: absolute;
	right: 0;
	top: 79px;
}
div#top-menu ul{
	margin: 0 24px 0 auto;
	float: right;
	height: 21px;
	overflow: hidden;
}
div#top-menu ul li{
	float: left;
	width: 100px;
	height: 19px;
	text-align: center;
	padding-right: 1px;
	border: 0;
}
div#top-menu ul li a{
	display: block;
	width: 100px;
	margin: 0;
	padding: 0;
	color: #fff;
	padding-top: 2px;
	background: url(images/tab.gif) no-repeat 0 0;
}
div#top-menu ul li a:hover{
	display: block;
	margin: 0;
	padding: 0;
	color: #014f8a;
	padding-top: 3px;
	background: url(images/tab_hov.gif) no-repeat 0 1px;
	text-decoration: none;
	font-weight: bold;
}
div#top-menu ul li.current a{
	display: block;
	margin: 0;
	padding: 0;
	color: #014f8a;
	padding-top: 3px;
	background: url(images/tab_hov.gif) no-repeat 0 1px;
}
div#top-menu ul li.current a:hover{
	display: block;
	margin: 0;
	padding: 0;
	color: #014f8a;
	padding-top: 3px;
	font-weight: bold;
	background: url(images/tab_hov.gif) no-repeat 0 1px;
}
div#top-menu-adj{
	width: 100%;
	height: 6px;
	background: #0783df;
	line-height: 6px;
	font-size: 1px;
}
div#loginfo{
	width: 100%;
	height: 24px;
	background: url(images/location.gif) repeat-x 0 0;
	line-height: 24px;
}
div#loginfo ul{
	margin: 0 auto 0 24px;
}
div#loginfo li{
	height: 24px;
	line-height: 24px;
	width: 90px;
	float: left;
	border-left: 1px solid #fff;
	border-right: 1px solid #c1c1c1;
	overflow: hidden;
	text-align: center;
}
div#loginfo li a{
	display: block;
	width: 90px;
	color: #777;
}
div#loginfo li a:hover{
	color: #e77012;
	background: #fff;
	text-decoration: none;
}
div#loginfo li.current a{
	background: #fff;
}
div#main-wrapper{
	width: 100%;
	background: #8db9d8 url(images/submenu.gif) repeat-x 0 0;
	float: left;
}
div#main-container{
	background: #fff url(images/nav.gif) repeat-x 0 0;
	text-align: center;
}
div#main{
	height: auto !important;
	min-height: 50px;
	height: 50px;
	overflow: auto !important;
	overflow: visible;
	background: url(images/mainbg.gif) no-repeat 95% bottom;
}
div#left{
	float: left;
	width: 162px;
	text-align: center;
}
div#main.huge{
	height: auto !important;
	min-height: 700px;
	height: 700px;
	overflow: auto !important;
	overflow: visible;
}
div#main.huge-m{
	height: auto !important;
	min-height: 560px;
	height: 560px;
	overflow: auto !important;
	overflow: visible;
}
p#location{
	margin: 0;
	padding: 0 24px;
	height: 26px;
	line-height: 26px;
	background: #fff url(images/nav.gif) no-repeat -195px 0;
	text-align: left;
}
h2{
	font-size: 18px;
	line-height: 18px;
	padding: 12px 24px;
	margin: 0;
	color: #515151;
	background: url(images/h1_bg.gif) no-repeat 22px 9px;
	text-indent: 22px;
	text-align: left;
}
h3{
	font-size: 14px;
	line-height: 2em;
	text-indent: 12px;
	width: 813px;
	margin: 24px auto 12px auto;
	padding: 0;
	background: #f0f0f0;
	text-align: left;
}
p.intro{
	padding: 6px 0;
	width: 800px;
	text-align: left;
	line-height: 1.3em;
}
dl.query{
	margin: 0 auto;
	text-align: left;
}
dl.query dt{
	display: block;
	height: 26px;
	line-height: 26px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background: url(images/table_l.png) no-repeat 0 0;
	color: #014f8a;
}
dl.query dt span{
	display: block;
	margin: 0;
	padding: 0;
	text-indent: 22px;
	background: url(images/table_r.gif) no-repeat right top;
}
dl.query dd{
	border: 1px solid #3d97f2;
	border-top: 0;
	background: #fff;
}
dl.crystal{
	width: 152px;
	margin: 6px 0 6px auto;
}
dl.crystal dt span{
	text-indent: 22px;
}
dl.crystal dd{
	background: #f2f9ff;
	padding: 3px;
	width: 144px;
}
dl.crystal dd.no-padding{
	padding: 0;
	width: 150px;
}
ul.classical{}
ul.classical li{
	height: 24px;
	line-height: 24px;
	padding: 0 6px;
}
ul.classical li.odd{
	background: #fff;
}
ul.classical li.even{
	background: #f2f9ff;
}
ul.classical li a:hover{
	text-decoration: none;
}
ul#jsq{
	position: relative;
}
ul#jsq li{
	padding: 0;
	text-indent: 6px;
}
ul#jsq li a{
	display: block;
	margin: 0;
	padding: 0;
	width: 150px;
	background: url(images/icon_left_arrow.gif) no-repeat 95% center;
}
ul#jsq li a:hover{
	background: #fff url(images/icon_left_arrow.gif) no-repeat 95% center;
}
p.wide{
	padding: 12px 24px;
	text-indent: 2em;
}
p.thin{
	padding: 9px 24px;
}
dl.crystal dd p.wide{
	padding: 3px 6px;
	text-indent: 0;
	line-height: 1.3em;
}
table.layout td{
	border: 0;
}
table.expert{
	width: 100%;
	border-collapse: collapse;
}
table.expert caption{
	display: none;
}
table.expert caption.on{
	display: table-caption !important;
	display: block;
	border: 1px solid #9fd6ff;
	background: #f2f9ff url(images/demoli.png) no-repeat 5px 8px;
	text-align: left;
	text-indent: 12px;
	padding: 3px 6px;
	border-bottom: 0;
}
table.expert td, table.expert th{
	margin: 0;
	padding: 3px 6px;
	border: 1px solid #9fd6ff;
}
table.expert td.lcol, table.expert th.lcol{
	border-left: 0;
}
table.expert td.rcol, table.expert th.rcol{
	border-right: 0;
}
table.expert tr.brow td, table.expert tr.brow th{
	border-bottom: 0;
}
table.expert tfoot td{
	text-align: center;
	background: #f2f9ff;
	border: 0;
}
table.expert tbody td{
	text-align: left;
}
table.expert tbody th{
	text-align: right;
}
table.expert tbody tr.odd{
}
table.expert tbody tr.even{
}
table.expert tbody tr.odd th{
}
table.expert tbody tr.odd td{
}
table.expert tbody tr.even th{
}
table.expert tbody tr.even td{
}
table.expert thead th{
	text-align: center;
	background: #c8e1fb;
}
ul.expert{
	width: 60%;
	margin: 0 auto;
}
ul.expert dt{
	display: block;
	height: auto;
	line-height: 24px;
	overflow: auto;
	margin: 0;
	padding: 0;
	background: none;
	color: #e77012;
	font-weight: normal;
}
ul.expert dd{
	border: 0;
}
ul.expert dd li{
	background: url(images/li_bullet.gif) no-repeat 10px 5px;
	text-indent: 18px;
	padding: 0;
	text-indent: 24px;
}
p#footer{
	padding: 18px 0;
	margin: 0 24px;
	border-top: 1px dotted #bababa;
}
input#user{
	background-image: url(images/user.gif);
	background-repeat: no-repeat;
	background-position: 3px 2px;
	padding-left: 16px;
}
input#password{
	background-image: url(images/password.gif);
	background-repeat: no-repeat;
	background-position: 3px 2px;
	padding-left: 16px;
}
input.text{
	height: 16px;
	line-height: 12px;
	border: 1px solid #bababa;
	background: #fff;
	color: #6e6e6e;
    font: normal 12px Tahoma,Helvetica,Verdana,Lucida,Arial,"Arial Unicode",sans-serif,"宋体";
	padding: 0 3px;
}
input.text-hov{
	height: 16px;
	line-height: 12px;
	border: 1px solid #bababa;
	background: #edeeed;
	color: #000;
    font: normal 12px Tahoma,Helvetica,Verdana,Lucida,Arial,"Arial Unicode",sans-serif,"宋体";
	padding: 0 3px;
}
.button-small{
	width: 43px;
	height: 17px;
	line-height: 17px;
	background: url(images/button_s.gif) no-repeat 3px 0;
	margin-left: auto;
	padding: 0 3px;
	text-align: center;
}
.button-small a, .button-small a.colorful{
	color: #fff;
}
.button-small a:hover{
	text-decoration: none;
}
span.button-small{
	padding: 2px 9px 3px 13px !important;
	padding: 1px 9px 4px 13px;
	text-indent: 6px;
}
.button-large{
	width: 72px;
	height: 17px;
	line-height: 17px;
	background: url(images/button_l.gif) no-repeat 0 0;
	margin-left: auto;
	text-align: center;
}
.button-large a, .button-large a.colorful{
	color: #fff;
}
.button-large a:hover{
	text-decoration: none;
}
span.button-large{
	padding: 2px 12px 3px 13px !important;
	padding: 1px 12px 4px 13px;
}
.center{
	text-align: center;
}
.add-padding-top-s{
	padding-top: 15px;
}
.add-padding-bottom-s{
	padding-bottom: 15px;
}
.add-padding-top-m{
	padding-top: 30px;
}
.add-padding-bottom-m{
	padding-bottom: 30px;
}
.add-padding-top-l{
	padding-top: 50px;
}
.add-padding-bottom-l{
	padding-bottom: 50px;
}
.add-padding-top-t{
	padding-top: 6px;
}
.add-padding-bottom-t{
	padding-bottom: 6px;
}
.width-s{
	width: 270px;
}
.width-m{
	width: 370px;
}
.width-l{
	width: 470px;
}
.width-xl{
	width: 590px;
}
.width-20-percent{
	width: 20%;
}
.width-25-percent{
	width: 25%;
}
.width-35-percent{
	width: 35%;
}
.width-40-percent{
	width: 40%;
}
.width-45-percent{
	width: 45%;
}
.width-50-percent{
	width: 50%;
}
.width-55-percent{
	width: 55%;
}
.width-60-percent{
	width: 60%;
}
.width-65-percent{
	width: 65%;
}
.width-85-percent{
	width: 85%;
}
.width-95-percent{
	width: 95%;
}
.width-98-percent{
	width: 98%;
}
.width-100-percent{
	width: 100%;
}
.long{
	width: 170px;
}
.xlong{
	width: 220px;
}
.xxlong{
	width: 270px;
}
.cross-row{
	vertical-align: top;
}
#floater{
	width: 430px;
	height: 109px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 999;
	background: url(images/fixer.png) no-repeat 0 0;
}
table.result thead th, table.result tbody th, table.result tbody td{
	text-align: center;
}
table.result .left{
	text-align: left;
}
table.result .col-1{
	width: 35%;
}
table.result .col-2{
	width: 35%;
}
table.result .col-3{
	width: 30%;
}
table.result .col-1a{
	width: 55%;
}
table.result .col-2a{
	width: 15%;
}
table.result .col-3a{
	width: 30%;
}
table.result tbody td.tree-container{
	background: #fff !important;
	text-align: left;
	vertical-align: top;
}
table.result tbody td.edit-container{
	padding: 0;
	vertical-align: top;
}
.col-2a{
	width: 33%;
}
.col-3a{
	width: 67%;
}
.right{
	text-align: right;
}
table.layout{
	margin: 0 auto;
	padding: 0;
	width: 100%;
	border: 0;
}
table.layout td{
	margin: 0;
	padding: 0;
	text-align: center;
}
table.layout td.sp{
	height: 88px;
	vertical-align: top;
	text-align: left;
}
table.layout td.sp p{
	padding: 8px 12px 0 64px;
}
td#sp-1{
	background: url(images/sp1.gif) no-repeat left bottom;
}
td#sp-2{
	background: url(images/sp2.gif) no-repeat left bottom;
}
td#sp-3{
	background: url(images/sp3.gif) no-repeat left bottom;
}
td#sp-4{
	background: url(images/sp4.gif) no-repeat left bottom;
}
td#sp-5{
	background: url(images/sp5.gif) no-repeat left bottom;
}
td#sp-6{
	background: url(images/sp6.gif) no-repeat left bottom;
}
td#sp-7{
	background: url(images/sp7.gif) no-repeat left bottom;
}
div.percentage{
	width: 120px;
	height: 9px;
	overflow: hidden;
	margin: 0 auto;
	border: 1px solid #767876;
	font-size: 9px;
	line-height: 9px;
	background: #fff url(images/bg_availability_green.gif) no-repeat 0 0;
}
input.calendar{
	background: #fff url(images/calendar-button.gif) no-repeat 0 0;
	padding-left: 17px;
}
dl.wiz{
	margin: 12px auto;
	padding: 0 24px;
	text-align: left;
	clear: left;
}
dl.wiz dt{
	display: block;
	height: 18px;
	line-height: 18px;
	padding: 6px 0;
	color: #fff;
	font-weight: bold;
	background: url(images/gstart_monitorinstance.gif) no-repeat left center;
	text-indent: 5px;
}
dl.wiz dt strong{
	color: #f00;
	padding-left: 6px;
}
dl.wiz dd img{
	float: left;
	width: 62px;
	height: 51px;
}
ol.o-list li{
	list-style-position: inside;
}
ul#tab-holder{
	text-align: left;
	padding-top: 9px;
	padding-left: 22px;
}
ul#tab-holder li{
	display: inline;
}
ul#tab-holder li input{
	border: 1px solid #41a3d0;
	border-top-color: #cde2fe;
	border-left-color: #cde2fe;
	background: #eff4ff;
	color: #52588d;
	line-height: 15px;
    font: normal 12px Tahoma,Helvetica,Verdana,Lucida,Arial,"Arial Unicode",sans-serif,"宋体";
	cursor: pointer;
}
ul#tab-holder li input.current{
	border: 1px solid #b00a00;
	border-top-color: #f43e44;
	border-left-color: #f43e44;
	background: #d21c22;
	color: #fff;
}
table.lan {
	border: 0;
	border-collapse: collapse;
	width: 794px;
}
table.lan col {
	width: 22px;
}
table.lan col.lan-m {
	width: 125px;
	background: url(images/lan-bg.gif) repeat-x 0 0;
}
table.lan td {
	height: 180px;
	margin: 0;
	padding: 0;
}
table.lan td.lan-start {
	background: url(images/lan-l.gif) no-repeat right top;
}
table.lan td.lan-rb {
	background: url(images/lan-rb.gif) no-repeat 0 0;
}
table.lan td.lan-rt {
	background: url(images/lan-rt.gif) no-repeat 0 0;
}
table.lan td.lan-lb {
	background: url(images/lan-lb.gif) no-repeat 0 0;
}
table.lan td.lan-lt {
	background: url(images/lan-lt.gif) no-repeat 0 0;
}
table.lan td.lan-end {
	background: url(images/lan-r.gif) no-repeat 0 0;
}
table.lan td p {
	width: 125px;
	height: 180px;
	position: relative;
}
table.lan td div {
	display: none;
}
table.lan td p span {
	position: absolute;
	width: 125px;
	text-align: center;
	left: 0;
}
table.lan td.odd p {
	background: url(images/lan-odd.gif) no-repeat 0 0;
}
table.lan td.odd p span {
	top: 0;
}
table.lan td.even p {
	background: url(images/lan-even.gif) no-repeat 0 0;
}
table.lan td.even p span {
	bottom: 0;
}







.style_01{ width:130px; height:18px; border:1px solid #cacaca; }